.spacja-1 {
    margin-bottom: 70px;
}

.spacja-2 {
    margin-bottom: 50px;
}

.spacja-3 {
    margin-bottom: 20px;
}

#wynik {
    background-color: black;
    color: whitesmoke;
}

#wynik:hover {
    background-color: grey;
    color: black;
}